<%= t provide :title, "About" %>

<h1>About</h1>
<p>
  The <%= link_to "Ruby on Rails Tutorial", Settings.links.rails_tutorial.home_page %>, part of the
  <%= link_to "Learn Enough", Settings.links.other_website.learn_enough %> family of
  tutorials, is a
  <%= link_to "book", Settings.links.rails_tutorial.book_page %>
  <%= link_to "screencast series", Settings.links.rails_tutorial.screencast_series %>
  to teach web development with
  <%= link_to "Ruby on Rails", Settings.links.rails_tutorial.home_page %>.
  This is the sample app for the tutorial.
</p>
